@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Righteous&family=Share+Tech+Mono&display=swap');

.left-section-text-first-text,
.left-section-text-first-svg,
.left-section-svg-first-svg,
.left-section-svg-first-text,
.main-section-text-first-text,
.main-section-text-first-svg,
.main-section-svg-first-svg,
.main-section-svg-first-text,
.right-section-text-first-text,
.right-section-text-first-svg,
.right-section-svg-first-svg,
.right-section-svg-first-text
{
  position: relative;
  min-height: 200px;
}

.main-content {
  margin-bottom:-10%;
}

.smaller-space {
  margin-top: -40%;
}

h2 {
  font-family: "Share Tech Mono";
  opacity: 0.7;
}

.left-text,
.left-svg,
.main-text,
.main-svg,
.right-text,
.right-svg 
{
  height: 100%;
  width: 100%;
  position: relative;
  inset: 0;
  z-index: 1;
  color:white;
  font-size: 1.2em;
  padding: 5%;
}

.left-text-background,
.left-svg-background,
.main-text-background,
.main-svg-background,
.right-svg-background,
.right-text-background
{
  position: absolute;
  inset: 0;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.main-content div {
  display: flex;
  align-items: center;
  color: var(--text-blue);
}

.bottom-text {
  position: absolute;
  overflow: visible;
  display: flex;
  align-items: flex-end !important;
  margin-bottom: 250%;
  padding-bottom: 80%;
  width: 200%;
}

.container {
  height: 100%
}

.bracket > img, .bracket-alt > img, .cyber-space > img{
  position: absolute;
  height: 80%;
  width: 80%;
  opacity: 0.1;
}

.bracket-alt > img {
  top: 20%;
}

.robot-styling img{
  position: relative;
  right: -50%;
  margin-bottom: -13%;
  height: 90%;
  width: auto;
}

.cyber-space img, 
.cyber-space-two img, 
.cyber-space-three img,
.cyber-space-two-alternate img{
  opacity: 0.15;
  left: 10%;
  top: 10%;
  position: absolute;
  height: 80%;
  width: 70%;
  will-change: transform;
}

.cyber-space-two img{
  top: 35%;
  width: 40%;
}

.cyber-space-two-alternate img {
    top: 25%;
    width: 40%;
}

.cyber-space-three img{
  top: 40%;
  width: 40%;
}

.cyber-space-four img{
  top: 40%;
  width: 60%;
  opacity: 0.1;
}

.moon img {
  position: relative;
  height: 100%;
  width: 130%;
  right: -50%;
  filter: brightness(90%);
  filter: grayscale(50%); /* 0% = original, 100% = black & white */
}