:root {
    --navy-black: #0a0f1d;
    --muted-purple-neon: #6C63FF;
    --dusty-neon-pink: #ff6ec7;
    --emerald-cyan: #00c2c7;
    --active-orange: #ffb86c;
    --primary-text: #e0e0e0;
    --text-muted: #888ca1;
    --navy-border: #1a1f2e;
    --header-color: rgba(96, 100, 115, 0.3);
    --overhead-light-color: rgb(99, 225, 255);
    --overhead-light-color-alternate: rgb(169, 225, 255);
    --text-blue: rgb(189, 245, 255);
}