html, body {
  margin: 0;
  padding: 0;
}

.container-footer {
    margin: 0;
    overflow: visible;
}

.footer {
    min-height:200px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
}

.additional-footer {
    position: fixed;
    min-height: 600px;
    bottom: 0%;
    margin-top: -11%;
    background-image: url('../../assets/boxes.png');
    background-size: 70% 120%;
    background-repeat: no-repeat;
    background-position: center 100%;
    margin-bottom: -2%;
    right: -30%;
    position: relative;
    z-index: 998;
    filter: grayscale(70%) brightness(80%);

}

.footer-left, .footer-center, .footer-right {
    background-image: url('../../assets/footer.jpg');
    background-size: cover;
    background-position: center 40%;
    position: relative;
    z-index: 999;
}

.additional-footer-left, 
.additional-footer-center,
.additional-footer-right {

}