.layout-background {
    background-image: url('/assets/Background.png');
    background-size: cover; /* full width, height adjusts automatically */
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}